@charset "utf-8";

.sect1,.sect2,.sect3,.sect4,.sect5,.sect6,.sect7{
    padding: 200px 0;
}


#main_header{
    position: fixed; left: 0; top: 0; width: 100%; height: 60px; z-index: 100000;
    background-color: #cdcdcd; display: flex; line-height: 60px; justify-content: space-between;
    transition: 0.2s;
}
#main_header.fix{
    background-color: transparent; color: #fff;
}


#main_header>h1{
    display: block; width: 200px; height: 60px; font-size: 1.5rem;  text-align: center;
}

#main_header>.gnb{
    background: #fff; position: absolute; width: 60vw; height: 100vh; left: -70vw; top: 0; padding: 60px 20px;
}

#main_header > .gnb > ul{
    display: flex; flex-direction: column; gap: 0.875rem;
}
#main_header > .gnb a{
    color: #151515; display: block; line-height: 1.7rem;
}
#main_header > .gnb .sub{
    padding-left: 1.25rem; font-size: 0.92rem; margin-top: 10px; display: none;
}

#main_header > .icons_top{
    margin: 0 24px;
}

#main_header > .icons_top > ul{
    display: flex; flex-direction: row; height: 60px; align-items: center; gap: 5px;
}
#main_header > .icons_top > ul > li{
    width: 30px; height: 30px; background: #151515; border-radius: 50%; text-indent: -9999px;
    
}

#main_header > .toggle_btn{
    width: 60px; height: 60px; background-color: transparent; border: 0px none; padding: 18px 0;
    display: flex; flex-direction: column; justify-content: space-between; align-items: center;
    cursor: pointer;
}

#main_header > .toggle_btn > span{
    display: block; width: 28px; height: 2px; background: #fff; border-radius: 2px;
}

#main_section > .main_banner{
   background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/food.jpg'); width: 100vw; min-height: 600px; 
   display: flex; justify-content: center;
}

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.title>span{
    color: #eb5656; font-size: 22px; font-weight: 700;
}
.title>h2{
    font-size: 36px; color: #151515;
}
.title>a{
    color:#151515; font-size: 18px;
}

.sect1{
    background-color: #f8f8f8; width: 100vw; height: 100%;
}
.container{
    width: 90%; margin: 0 auto; display: flex; justify-content: space-between; padding: 10px;
}
.sect1>.container>.img_wrap{
    width: 50%;
}
.sect1>.container>.img_wrap>img{
    width: 100%;  height: 100%;
}
.sect1>.container>.text_wrap{
    width: 50%; padding: 10px;
}
.main_banner{
    margin-top: 60px; padding: 24px;
}

.main_banner>div{
    color: #fff; font-size: 2rem; display: flex; flex-flow: row wrap; justify-content: center; align-items: center;
}

.sect4>.icons_wrap{
    display: flex; flex-flow: column; width: 100%; gap: 10px;
}
.sect4>.icons_wrap>div{
    padding: 24px 15px; border: 1px solid #ccc; margin: 0 auto;
    width: 90%; text-align: center;
    display: flex; flex-direction: column; gap: 24px;
}
.sect4>.icons_wrap>div>img{
    width: 20%; margin: 0 auto;
}
.sect5{
    background: #ccc;
}


.sect5>.container{
    display: flex; flex-direction: column; gap: 15px;
}

.sect5>.container>div{
    width: 100%; display: flex; background-color: #fff; border-radius: 30px;
    box-shadow: 0px -1px 5px #222; 
}
.sect5>.container>div>.img_wrap{
    width: 60%;
}
.sect5>.container>div>.img_wrap>img{
    width: 100%; 
}
.sect5>.container>div>.text_wrap{
    width: 40%; padding: 24px 5px; display: flex; flex-flow: column;
}
.sect5>.container>div>.text_wrap>h3{
    
    color: #eb5656; font-size: 20px; font-weight: 700;
}


.sect7{
    padding: 10%;
}

.sect7>.sect7_top>.notice_wrap>ul{
    display: flex; flex-flow: column; gap: 5px; align-items: center; margin: 20px 0px;
}

.sect7>.sect7_top>.notice_wrap>ul>li{
    border-bottom: 1px solid #ccc; padding-bottom: 7px;
}

.sect7>.sect7_top>.notice_wrap>ul>li>a{
    color: #151515; font-weight: 400;
}

.sect7>.sect7_top>.notice_wrap>ul>li>a>p::after{
    content: ">"; display: inline-block; padding-left: 10px;
}


.sect7>.sect7_bottom{
    display: flex; flex-direction: row; position: relative; left: 0;
    padding: 0 15px; gap: 70px;
}
.sect7>.sect7_bottom>.text_wrap{
    width: 50%; height: auto; display: flex; flex-direction: column; justify-content: flex-end;
    text-align: left; font-size: 28px; gap: 30px; padding-left: 5%;
}

.sect7>.sect7_bottom>.text_wrap>h2{
    font-weight: 700;
}

.sect7>.sect7_bottom>.img_wrap{
    width: 50%;
}
.sect7>.sect7_bottom>.img_wrap>img{
    width: 100%; height: 100%;
    object-fit: contain;
}

#main_footer{
    background: #222;
}

#main_footer>ul{
    display: flex; color: #ccc; padding: 24px;
    justify-content: center; gap: 30px;
}
#main_footer>ul>li>a{
    color: #ccc;
}
#main_footer>.copy{
    width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    color: #ccc; font-size: 12px;
}

@media screen and (min-width: 1200px)  {
    #main_header > .toggle_btn {
        display: none;
    }

    .container{
        max-width: 1280px;
    }

    #main_header.fix>.gnb>ul>li>.sub>ul>li>a{
        color: #151515;
    }
    #main_header.fix > .gnb a{ color: #fff;}

    #main_header>.gnb {
        background: transparent; position: static; width: 1280px; height: 60px; left: 0;
        top: 0; padding: 0; display: flex; justify-content: center; align-items: center;
    }
    #main_header > .gnb > ul {
        display: flex; flex-direction: row; gap: 100px; justify-content: center; font-size: 18px;
    }

    #main_header > .gnb > ul > li{
        position: relative;
    }

    #main_header > .gnb > ul > li > .sub{
        width: 200px; height: 120px; background-color: #fff; padding-top: 20px; padding-left: 15px;
        position: absolute; left: 0; top: 1.7rem; margin-top: 0; display: none;
    }


    #main_section > .main_banner{
        height: 100vh;
    }

    .main_banner>div{
        color: #fff; font-size: 6rem;
    }

    .sect1>.container>.img_wrap {
        padding: 24px; max-width: 500px; max-height: 600px;
    }

    .sect1>.container>.text_wrap{
        text-align: left; margin-top: 200px;
    }

    .sect1>.container>.text_wrap>p{
        font-size: 36px;
    }


    .sect4>.icons_wrap{
        flex-flow: row wrap; margin: 0 auto; justify-content: center; max-width: 1280px;
    }
    .sect4>.icons_wrap>div{
        width: 22%; min-height: 300px; justify-content: center; margin: 0;
    }

    .sect5>.container{
        flex-flow: row wrap;
    }

    .sect5>.container>div{
        width: 300px; height: 400px; display: block; margin: 0 10%;
    }
    .sect5>.container>div:nth-of-type(2),
    .sect5>.container>div:nth-of-type(4){
        margin-top: 20%;
    }
    .sect5>.container>div>.img_wrap{
        width: 100%;
    }
    .sect5>.container>div>.text_wrap{
        padding: 20px; width: 100%;
    }
    .sect5>.container>div>.text_wrap>h3{
        font-size: 24px; color: #eb5656; font-weight: 700;
    }

    .swiper{
        width: 40%; overflow: visible;
    }


    .sect7>.sect7_top{
        display: flex; margin-bottom: 30px; justify-content: center;
        padding: 0 15px;
        gap: 60px;
    }

    .sect7>.sect7_top>.title{
        width: 30%;
    }
    .sect7>.sect7_top>.notice_wrap{
        width: 50%;
    }
    .sect7>.sect7_top>.notice_wrap>ul{
        display: flex; flex-direction: column; gap: 10px;
    }
    .sect7>.sect7_bottom{
        justify-content: center;
    }
    .sect7>.sect7_bottom>.img_wrap{
        width: 30%;
    }
    .sect7>.sect7_bottom>.text_wrap{
        font-size: 28px; gap: 70px; padding-left: 5%;
    }
    .sect7>.sect7_bottom>.text_wrap>h2{
        font-weight: 700;
    }


}
